{% extends 'base_productos.html' %}

{% block titulo %}
Buscar Productos All
{% endblock %}

{% block contenido %} 

{%if search_products%}
<div class="d-flex" style="margin-top:5rem ; margin-left: 7rem">
    {% for producto in search_products%}
    <div class="card" style="width: 18rem;">
        {% if producto.imagen %}
        <img src={{producto.imagen.url}} class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{producto.name}}</h5>
        <p class="card-text">Preio: ${{producto.price}}</p>
        <p class="card-text">Descripcion: {{producto.description}}</p>
        <p class="card-text">SKU: {{producto.SKU}}</p>
        <p class="card-text">Disponibilidad: {{producto.available}}</p>
        <a href="#" class="btn btn-primary">Comprar</a> <!-- Acan el el Href habria que agregar un url de carrito de compra por ej -->
        </div>
    </div>
    {% endfor %}
</div>
{%else%} 
<div style = "color:black">
    <h1>{{errors}}</h1> 
<div>
{%endif%}    


{% endblock %}
