<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <p style = color:darkblue >El nombre del familiar N{{familiar_nuevo.id}} es  {{familiar_nuevo.nombre}}<p> </h1>
    <h1> <p style = color:darkblue >El apellido del familiar es {{familiar_nuevo.apellido}}<p> </h1>
    <h1> <p style = color:darkblue >El dni del familiar es {{familiar_nuevo.dni}}<p> </h1>
    <h1> <p style = color:darkblue >Fecha de nacimiento {{familiar_nuevo.fecha_nacimiento}}<p> </h1>


    <h1><p style = color:darkgreen >El nombre del familiar N{{familiar_nuevo2.id}} es {{familiar_nuevo2.nombre}}<p> </h1>
    <h1><p style = color:darkgreen >El apellido del familiar es {{familiar_nuevo2.apellido}}<p> </h1>
    <h1><p style = color:darkgreen >El dni del familiar es {{familiar_nuevo2.dni}}<p> </h1>
    <h1><p style = color:darkgreen >Fecha de nacimiento {{familiar_nuevo2.fecha_nacimiento}}<p> </h1>

    <h1><p style = color:crimson >El nombre del familiar N{{familiar_nuevo3.id}} es {{familiar_nuevo3.nombre}}<p> </h1>
    <h1><p style = color:crimson >El apellido del familiar es {{familiar_nuevo3.apellido}}<p> </h1>
    <h1><p style = color:crimson >El dni del familiar es {{familiar_nuevo3.dni}}<p> </h1>
    <h1><p style = color:crimson >Fecha de nacimiento {{familiar_nuevo3.fecha_nacimiento}}<p> </h1>  
        
    <h1>Familiares:</h1>  
    <ul>
        {%for familiar in familiares_all%}
        <li>
            <p>DNI: {{familiar.dni}}</p> 
            <p> Nombre y Apellido: {{familiar.nombre}} {{familiar.apellido}}</p>
            <p> Edad: {{familiar.edad}}</p>    
            <p> Fecha de Nacimiento: {{familiar.fecha_nacimiento}}</p>    
        </li>    
        {% endfor %}
</body>
</html>