<!-- ACA llamo al base.html-->

{% extends 'base_productos.html' %}    

<!-- ACA llamo al base.html - block titulo-->

{% block titulo %}      
Crear productos

{% endblock %}

<!-- ACA llamo al base.html - block contenido-->
{% block contenido %}          

{% if form %}
    

    <form action="" method="POST" enctype="multipart/form-data">   <!--  Aca si viene por post hace-->
        {% csrf_token %}               <!-- token va siempre-->
        <table>                     <!-- hace que lo muestre como tabla-->
            {{form.as_table}}        <!-- muestra el formulario que creamos -->
        </table>
        <input type="submit", value="Enviar!">   <!-- el boton para enviar -->
    </form>                         <!-- cierra el form-->
    {% elif new_product %}                                            <!-- aca un elif si existe el new_product que hicimos en la view-->

    <div class="card" style="width: 18rem;">
        <img src={{new_product.imagen.url}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{new_product.name}}</h5>
            <p class="card-text">{{new_product.description}}</p>
            <p class="card-text">{{new_product.price}}</p>
        </div>
    </div>   



{% endif %}







{% endblock %}